@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --ksdt-pink: #ff8dca;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ksdt-pink: var(--ksdt-pink);
  --font-mono: var(--font-fragment-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
